extends layout.pug
 
block content
  div.container
   h1.FullName #{FullName}
   
  div.container
   span.Email <p style="color:blue;">Email:</p> #{ Email}

  div.container 
   span.PhoneNumber <p style="color:blue">PhoneNumber: </p> #{ PhoneNumber}

  div.container
   span.Address <p style="color: #66ff66 ">Address: </p> #{ Address}

  div.container 
   span.Dormitory <p style="color:yellow">Dormitory: </p> #{Dormitory}
